/* Define color variables */
:root {
    --primary-color: rgb(89, 146, 168);
    --secondary-color: rgb(219, 227, 235);
    --text-color: white;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--primary-color);
    height: 60px;
}

.nav-li {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-p {
    font-size: 30px;
    color: var(--text-color);
    margin: 0px;
    padding-left: 20px;
    font-weight: bold;
}

li {
    list-style-type: none;
    font-size: 20px;
    padding: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: var(--text-color);
    cursor: pointer;
    font-weight: bold;
}

li:hover {
    background-color: var(--secondary-color);
    color: var(--primary-color);
}

.main {
    height: 85vh;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.main-left {
    width: 48%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.left-top {
    height: 45%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.75);
    padding: 10px 0px;
}

.details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.det {
    font-weight: bold;
    font-size: 20px;
    color: var(--primary-color);
}

.left-bottom {
    height: 50%;
    width: 100%;
    display: flex;
    justify-content: center;
    box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.75);
}

.main-right {
    width: 50%;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.75);
    overflow: scroll;
}

/* Scrollbar Styling */
.main-right::-webkit-scrollbar {
    width: 8px;
}

.main-right::-webkit-scrollbar-track {
    background: var(--secondary-color);
}

.main-right::-webkit-scrollbar-thumb {
    background-color: var(--primary-color);
    border-radius: 10px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

tr {
    border-bottom: 8px solid var(--secondary-color);
}

th {
    padding: 20px;
    text-align: start;
    border: none;
    font-size: 18px;
    background-color: var(--primary-color);
    color: var(--text-color);
}

td {
    padding: 20px;
    background-color: white;
}
