<!DOCTYPE html>
<html>
    <head>
        <title>barchart</title>

        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='barchart.css') }}">
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.min.js"></script>
    </head>


    <body>
        <div class="nav">
          <div >
              <p class="nav-p">Machine Learning-Driven Intrusion Detection</p>
          </div>

          <div class="nav-li">
            <li><a href="{{ url_for('index') }}">Home</li>
              <li><a href="{{ url_for('index') }}">Traffic</a></li>
              <li><a href="{{ url_for('file') }}">Analysis</a></li>
              <li><a href="{{ url_for('index') }}">Monitor</a></li>
          </div>

        </div>


        <div class="bar">

            <div class="bar-p">
                <p>The result of prdiction is {{prediction}}</p>

            </div>
            
            
            <div class="charts">
                <div class="chart">
                    
                    <canvas id="bar-chart"></canvas>
                </div>


                <div class="chart">
                    
                    <canvas id="bar-chart-2"></canvas>
                </div>
            </div>

        </div>


















        <script src="chart.min.js"></script>
        <script>
          var prediction_rf = {{ prediction_rf|tojson }};
          var prediction_xg = {{ prediction_xg|tojson }};
            new Chart(document.getElementById('bar-chart'), {
              type: 'bar',
              data: {
                labels: ["NORMAL", "DOS", "R2L", "U2R", "PROBE"],
                datasets: [{
                    backgroundColor: ["green", "#254BDD",
                        "#ffbe0b", "#1d3557", "#326998"],
                    data: prediction_rf
                }]
              },
              options: {
                title: {
                  display: true,
                  text: 'Prediction by Random Forest'
                },
                responsive: true
              }
            });



            new Chart(document.getElementById('bar-chart-2'), {
              type: 'bar',
              data: {
                labels: ["NORMAL", "DOS", "R2L", "U2R", "PROBE"],
                datasets: [{
                    backgroundColor: ["green", "#254BDD",
                        "#ffbe0b", "#1d3557", "#326998"],
                    data: prediction_xg
                }]
              },
              options: {
                title: {
                  display: true,
                  text: 'Prediction By XGBoost'
                },
                responsive: true
              }
            });
        </script>





    </body>













</html>