<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Blocklist IP</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='blacklist.css') }}">
</head>
<body>
  <h1>Blocklist IP</h1>
  <table>
    <thead>
      <tr>
        <th>IP</th>
        <th>Reason</th>
      </tr>
    </thead>
    <tbody>
      {% for i in range(l) %}
      <tr>
        <td>{{ ip[i] }}</td>
        <td>{{ reason[i] }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</body>
</html>
