<!DOCTYPE html>
<html>

    <head>

        <title>form</title>


        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='form.css') }}">


    </head>



    <body>
        <div class="nav">
            <div >
                <p class="nav-p">Machine Learning-Driven Intrusion Detection</p>
            </div>

            <div class="nav-li">
                <li><a href="{{ url_for('index') }}">Home</li>
                    <li><a href="{{ url_for('index') }}">Traffic</a></li>
                    <li><a href="{{ url_for('file') }}">Analysis</a></li>
                    <li><a href="{{ url_for('index') }}">Monitor</a></li>
            </div>

        </div>

        <div class="container">


                <div class="top">
                    <div>
                        <p class="top-p">Simulate Sample Network Traffic</p>
                    </div>
                    <div class="buttons">
                        <button class="button" id="normal">Normal</button>
                        <button class="button" id="dos">DoS</button>
                        <button class="button" id="r2l">R2L</button>
                        <button class="button" id="u2r">U2R</button>
                        <button class="button" id="probe">Probe</button>
                    </div>

                </div>
            
                <form class="form" action="/submit" method="post">
                    <div class="div-1">
                        <div class="div-1-a">
                            <p class="div-p">Duration</p>
                            <input type="number" class="input" placeholder="Time duration of the connection" id='duration' name='duration'>

                        </div>
                        <div class="div-1-b">
                            <P class="div-p">Protocol Type</P>
                            <select class="select" name="protocol_type" id='protocol_type' name="protocol_type">
                                <option value="">Protocol used in this connection</option>
                                <option value="2">TCP</option>
                                <option value="1">UDP</option>
                                <option value="0">ICMP</option>
                            </select>

                        </div>

                    </div>
                    <div class="div-1">
                        <div class="div-1-a">
                            <p class="div-p">Flag</p>
                            <select class="select" name="flag" id='flag' name="flag">
                                <option value="">select type</option>
                                <option value="0">OTH</option>
                                <option value="1">REJ</option>
                                <option value="2">RST0</option>
                                <option value="3">RST0S0</option>
                                <option value="4">RSTR</option>
                                <option value="5">S0</option>
                                <option value="6">S1</option>
                                <option value="7">S2</option>
                                <option value="8">S3</option>
                                <option value="9">SF</option>
                                <option value="10">SH</option>
                            </select>

                        </div>
                        <div class="div-1-b">
                            <p class="div-p">Source Byte</p>
                            <input type="input" class="input" placeholder="Number of data bytes transferred" id='src_byte' name="src_byte">

                        </div>

                    </div>
                    <div class="div-1">
                        <div class="div-1-a">
                            <p class="div-p">Destination Byte</p>
                            <input type="input" class="input" placeholder="Number of data bytes transferred " id='destination_byte' name="destination_byte">

                        </div>
                        <div class="div-1-b">
                            <p class="div-p">Land</p>
                            <input type="input" class="input" placeholder="land" id='land' name="land">

                        </div> 

                    </div>
                    <div class="div-1">
                        <div class="div-1-a">
                            <p class="div-p">Is Host Login</p>
                            <select class="select" id='is_host_login' name="is_host_login">
                                <option value="">Login status</option>
                                <option value="0">Yes</option>
                                <option value="1">No</option>
                                
                            </select>

                        </div>
                        <div class="div-1-b">
                            <p class="div-p">Is Guest Login</p>
                            <select class="select" id="is_guest_login" name="is_guest_login">
                                <option value="">Login status</option>
                                <option value="0">Yes</option>
                                <option value="1">No</option>
                                
                            </select>

                        </div>

                    </div>
                    <div class="div-1">
                        <div class="div-1-a">
                            <p class="div-p">Same Dectination Count</p>
                            <input type="number" class="input" placeholder="Number of connection to same destination" id="same_destn_count" name="same_destn_count">

                        </div>
                        <div class="div-1-b">
                            <p class="div-p">Same Port Count</p>
                            <input type="number" class="input" placeholder="Number of connection to same service" id="same_port_count" name="same_port_count">

                        </div>
                         
                    </div>

                    <div class="div-sub">
                        <input  class="submit" type="submit" >
                    </div>
                    </div>

                </form>
            

        </div>









        <script>
            document.getElementById("normal").addEventListener("click", function() {
                fetch('/normal')
                    .then(response => response.json())
                    .then(data => {
                        const dataArray = JSON.parse(data); // Parse the string to convert it to an array
                        const sampleData = dataArray[0];
                        document.getElementById('duration').value = sampleData.duration;
                        document.getElementById('protocol_type').value = sampleData.protocol_type;
                        document.getElementById('flag').value = sampleData.flag;
                        document.getElementById('src_byte').value = sampleData.src_bytes;
                        document.getElementById('destination_byte').value = sampleData.dst_bytes;
                        document.getElementById('land').value = sampleData.land;
                        document.getElementById('is_guest_login').value = sampleData.is_guest_login;
                        document.getElementById('is_host_login').value = sampleData.is_host_login;
                        document.getElementById('same_destn_count').value = sampleData.dst_host_count;
                        document.getElementById('same_port_count').value = sampleData.dst_host_srv_count;
                    });
            });

            document.getElementById("dos").addEventListener("click", function() {
                fetch('/dos')
                    .then(response => response.json())
                    .then(data => {
                        const dataArray = JSON.parse(data); // Parse the string to convert it to an array
                        const sampleData = dataArray[0];
                        document.getElementById('duration').value = sampleData.duration;
                        document.getElementById('protocol_type').value = sampleData.protocol_type;
                        document.getElementById('flag').value = sampleData.flag;
                        document.getElementById('src_byte').value = sampleData.src_bytes;
                        document.getElementById('destination_byte').value = sampleData.dst_bytes;
                        document.getElementById('land').value = sampleData.land;
                        document.getElementById('is_guest_login').value = sampleData.is_guest_login;
                        document.getElementById('is_host_login').value = sampleData.is_host_login;
                        document.getElementById('same_destn_count').value = sampleData.dst_host_count;
                        document.getElementById('same_port_count').value = sampleData.dst_host_srv_count;
                    });
            });

            document.getElementById("r2l").addEventListener("click", function() {
                fetch('/r2l')
                    .then(response => response.json())
                    .then(data => {
                        const dataArray = JSON.parse(data); // Parse the string to convert it to an array
                        const sampleData = dataArray[0];
                        document.getElementById('duration').value = sampleData.duration;
                        document.getElementById('protocol_type').value = sampleData.protocol_type;
                        document.getElementById('flag').value = sampleData.flag;
                        document.getElementById('src_byte').value = sampleData.src_bytes;
                        document.getElementById('destination_byte').value = sampleData.dst_bytes;
                        document.getElementById('land').value = sampleData.land;
                        document.getElementById('is_guest_login').value = sampleData.is_guest_login;
                        document.getElementById('is_host_login').value = sampleData.is_host_login;
                        document.getElementById('same_destn_count').value = sampleData.dst_host_count;
                        document.getElementById('same_port_count').value = sampleData.dst_host_srv_count;
                    });
            });

            document.getElementById("u2r").addEventListener("click", function() {
                fetch('/u2r')
                    .then(response => response.json())
                    .then(data => {
                        const dataArray = JSON.parse(data); // Parse the string to convert it to an array
                        const sampleData = dataArray[0];
                        document.getElementById('duration').value = sampleData.duration;
                        document.getElementById('protocol_type').value = sampleData.protocol_type;
                        document.getElementById('flag').value = sampleData.flag;
                        document.getElementById('src_byte').value = sampleData.src_bytes;
                        document.getElementById('destination_byte').value = sampleData.dst_bytes;
                        document.getElementById('land').value = sampleData.land;
                        document.getElementById('is_guest_login').value = sampleData.is_guest_login;
                        document.getElementById('is_host_login').value = sampleData.is_host_login;
                        document.getElementById('same_destn_count').value = sampleData.dst_host_count;
                        document.getElementById('same_port_count').value = sampleData.dst_host_srv_count;
                    });
            });

            document.getElementById("probe").addEventListener("click", function() {
                fetch('/probe')
                    .then(response => response.json())
                    .then(data => {
                        const dataArray = JSON.parse(data); // Parse the string to convert it to an array
                        const sampleData = dataArray[0];
                        document.getElementById('duration').value = sampleData.duration;
                        document.getElementById('protocol_type').value = sampleData.protocol_type;
                        document.getElementById('flag').value = sampleData.flag;
                        document.getElementById('src_byte').value = sampleData.src_bytes;
                        document.getElementById('destination_byte').value = sampleData.dst_bytes;
                        document.getElementById('land').value = sampleData.land;
                        document.getElementById('is_guest_login').value = sampleData.is_guest_login;
                        document.getElementById('is_host_login').value = sampleData.is_host_login;
                        document.getElementById('same_destn_count').value = sampleData.dst_host_count;
                        document.getElementById('same_port_count').value = sampleData.dst_host_srv_count;
                    });
            });
        </script>




    </body>


</html>